<nav class="navbar" id="navbar">
  <a class="site-logo" href="/">
    <img src="/img/top-nav-heart.svg" alt="Heart logo"> <span class="site-logo-text">Data at the Point of Care</span>
  </a>

  <div class="topnav-wrap" id="topnav-wrap">
    <button id="topnav__close-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__close-button" type="button"
aria-controls="topnav-wrap" aria-label="Close menu">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#times"></use>
        </svg>
      </button>
      <ul class="topnav">
        <li class="topnav__item">
          <a href="" class="topnav__link">Documentation</a>
        </li>
  
        <li class="topnav__item">
          <a href="" class="topnav__link">Support</a>
        </li>
      </ul>
    </div>
  </div>
</nav>