.site-logo,
.site-log:visited {
  align-items: center;
  color: $color-primary-darkest;
  display: flex;
  flex-shrink: 0;
  font-size: $h5-font-size;
  font-weight: $font-bold;
  text-decoration: none;
  width: 15rem;

  @media (min-width: $width-sm) {
    font-size: $h3-font-size;
    width: 20rem;
  }

  img {
    margin-right: $spacer-1;
    width: $spacer-2;

    @media (min-width: $width-sm) {
      width: $spacer-4;
    }
  }
}