<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data at the Point of Care</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">

</head>
<header>
  {% include _nav.html %}
</header>
<body>

  {{ content }}

  {% include _footer.html %}
</body>
<script src="/assets/javascript/accordions.js"></script>
<script src="/assets/javascript/modals.js"></script>
</html>