---
layout: page-info
---
<div class="ds-u-padding-top--7 docs">
  <div>
    <section>
      <div class="ds-l-col--12">
        <ul id="docsnav">
          {% for item in site.docs_nav %}
            {% assign pages = site.pages | where:"id",item.id %}
            {% for p in pages %}
              <li class="docsnav__item">
                {% assign prefix = page.id | split: "-" %}
                <a id="docsnav__link{% if p.id contains prefix[0] || p.id == page.id %} active{% endif %}" href="{{ p.url }}"> {{item.title}} </a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </section>
    
    <section class="docs__content">
      <div class="ds-l-col--12">
        {{content}}
      </div>
    </section>
  </div>
</div>
